{% extends 'base.html.twig' %}

{% block title %}Propriétaire {{ proprietaire.prenom ~ ' ' ~ proprietaire.nom }}{% endblock %}

{% block body %}
    <h1>{{ proprietaire.prenom ~ ' ' ~ proprietaire.nom }}</h1>
    {% if proprietaire.avatar %}
        <img src="/uploads/{{ proprietaire.avatar }}" width="350">
    {% else %}
        <img src="/uploads/default.jpg" width="350">
    {% endif %}
    <p>Né le {{ proprietaire.naissance | date('d/m/Y') }} ({{ age }} ans)</p>

    <a href="{{ path('proprietaires_liste') }}">Retour aux propriétaires</a>
{% endblock %}
